<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julia.mapper.RocketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julia.entity.RocketEntity">
        <id column="rocket_id" property="rocketId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="url" property="url" />
        <result column="amount" property="amount" />
        <result column="real_pay" property="realPay" />
        <result column="order_id" property="orderId" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="c_id" property="cId" />
        <result column="p_id" property="pId" />
        <result column="status" property="status" />
        <result column="check_callback" property="checkCallback" />
        <result column="done_time" property="doneTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        rocket_id, url, amount, real_pay, order_id, first_name, last_name, c_id, p_id, status, check_callback, done_time
    </sql>

</mapper>
