<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julia.mapper.YaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julia.entity.YaoEntity">
        <id column="yao_id" property="yaoId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="login_name" property="loginName" />
        <result column="user_name" property="userName" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="password" property="password" />
        <result column="che_del" property="cheDel" />
        <result column="role_id" property="roleId" />
        <result column="auth_id" property="authId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        yao_id, login_name, user_name, email, phone, avatar, password, che_del, role_id, auth_id, remark
    </sql>

</mapper>
